[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
dependency-injector = "*"
icecream = "*"

[dev-packages]

[requires]
python_version = "3.12"
