<!-- Proveedor global del modal -->
<div 
    id="global-modal" 
    x-show="$store.modal.open"
    role="dialog"
    tabindex="-1"
    x-on:click.away="$store.modal.toggle()"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
    x-cloak
>
    <div
        x-show="$store.modal.open"
        x-transition
        class="bg-white p-6 rounded shadow-md w-full max-w-md relative"
    >
        <button 
            type="button" 
            x-on:click="$store.modal.toggle()"
            class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
        >
            &times;
        </button>
        <div id="modal-content">

        </div>
    </div>
</div>