<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contactos{% endblock title %}</title>
    <link rel="icon" type="image/png" href="/static/img/phone-book.png" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body 
    class="bg-white h-dvh flex flex-col flex-1"
    x-data
    x-on:keydown.escape="$store.modal.toggle()"
>
    {% include "layout/header.html" %}

    <main
        class="flex justify-center grow px-3 lg:px-10 py-[3rem]"   
    >
        <div class="max-w-screen-2xl w-full" id="page-content">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    {% include "layout/footer.html" %}

    {% include "partials/modal.html" %}
</body>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.store("modal", {
            open: false,

            toggle() {
                this.open = !this.open
            }
        })
    })

    // htmx.logAll()
</script>
</html>
